<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WorldEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="MyWorldEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WorldEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <WorldEditor.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>1196, 758</value>
            </setting>
            <setting name="ControlColour" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="CurveDistanceTolerance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurveApproximationScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurveRecursionLimit" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CurveCollinearityEpsilon" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurveAngleTolerance" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="CurveAngleToleranceEpsilon" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurveCuspLimit" serializeAs="String">
                <value>0</value>
            </setting>
        </WorldEditor.Properties.Settings>
        <MyWorldEditor.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>1196, 758</value>
            </setting>
            <setting name="MainMenuFile" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="CameraZoomFactor" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="CameraXFactor" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="CameraYFactor" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="CameraDefaultDistance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ControlColour" serializeAs="String">
                <value>ControlDark</value>
            </setting>
        </MyWorldEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WorldEditor.Properties.Settings>
            <setting name="MainMenuFile" serializeAs="String">
                <value>File</value>
            </setting>
        </WorldEditor.Properties.Settings>
    </applicationSettings>
</configuration>
